*.pyc
*.pyo
*.mjpeg
*.png
*.avi
*.mp4
*.jpg
*.tlog
*.raw
*.gcode
*~
octave-workspace
ObjectTracking/log/*
ObjectTracking/blueRed
ObjectTracking/newtree.yaml
ObjectTracking/save.csv
ObjectTracking/test/saveInput.txt
ObjectTracking/saveOrientation.txt
ObjectTracking/test/saveOutput.txt
Sensors/mag.txt
Sensors/acc.txt
Communication/saveUDP.txt

