ObjectTracking/2013y04m02d21h43m12s.jpg
ObjectTracking/2013y04m02d21h58m37s.jpg
ObjectTracking/2013y04m02d21h59m12s.jpg
ObjectTracking/2013y04m02d22h07m25s.jpg
ObjectTracking/blueRed
ObjectTracking/geek_outputVideo.avi
ObjectTracking/kite_detail.jpg
ObjectTracking/latencyAround0p5s (copy).png
ObjectTracking/latencyAround0p5s.png
ObjectTracking/newtree.yaml
ObjectTracking/output.avi
ObjectTracking/output1.avi
ObjectTracking/output1.mjpeg
ObjectTracking/outputVideo.avi
ObjectTracking/res.jpg
ObjectTracking/save.csv
ObjectTracking/saveInput.txt
ObjectTracking/saveOrientation.txt
ObjectTracking/saveOutput.txt
