*.pyc
*.pyo
*.mjpeg
*.png
*.avi
*.mp4
*.jpg
ObjectTracking/log/*
ObjectTracking/blueRed
ObjectTracking/newtree.yaml
ObjectTracking/save.csv
ObjectTracking/saveInput.txt
ObjectTracking/saveOrientation.txt
ObjectTracking/saveOutput.txt

